.card {
  text-align: center;
}

.card-img-top {
  width: 100%;
  padding: 1rem;
}
.default-link {
  text-decoration: none;
  color: #212529;
}
.default-link:hover {
  color: #212529;
}

a{
    font-style: italic;
    font-weight: bold;
    color: #535555; 
    font-family: 'Arista 2.0 Light', sans-serif, 'Roboto';
}

a:hover{
    color: #212529;
}

