.App{
    background-color: rgb(223, 221, 221);
    margin: 0 10rem 10rem 10rem;
    position: relative;
  
 }
  
 .container-fluid{
    background-image: url(./images/background.jpeg);
    z-index: -1;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  
  
 }
 